.Noventa{
    width: 85%;
    margin: 0 auto;
    display: flex;  
    justify-content: space-around;
    align-items: center;    
}
.setenta{
    width: 70%;
    margin: 0 auto;
    
}
.sessenta{
    width: 60%;
    margin: 0 auto;
    display: flex;  
    justify-content: space-around;
    align-items: center;    
}
.fundo{
    background-color: #ececec;
    padding: 20px 0;
}